<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VimeNotice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VimeNotice.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteTempFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnDesktop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerAdded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerKicked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LevelUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PerkUpgraded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfficerAdded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfficerRemoved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoinsAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerLeaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GuildNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </VimeNotice.Properties.Settings>
    </userSettings>
</configuration>